<div class="footer wf-section">
  <div class="wrapper footer-wrapper">
    <div class="footer-up">
      <div id="w-node-fb836dff-5d61-e13c-158a-541fc0d723fb-c0d723f8" data-w-id="fb836dff-5d61-e13c-158a-541fc0d723fb" class="footer-logo-and-subscribe">
        <a href="index.html" aria-current="page" class="footer-logo w-inline-block w--current"><img src="{{siteUrl}}assets/images/cloud4success_logo-w.svg" loading="lazy" alt="" /></a>
        <div class="footer-text">Wir steigern die Produktivität und verbessern die Zusammenarbeit in einer digitalen Welt.</div>
      </div>
      <div id="w-node-_5f3be92f-f616-ff4b-618c-116d98c32f76-c0d723f8" class="footer-links-container">
        <div class="footer-links-row">
          <a href="index.html" aria-current="page" class="footer-link w--current">Home</a>
          <a href="m365-apps.html" class="footer-link">Microsoft 365</a>
          <a href="microsoft-teams.html" class="footer-link">Microsoft Teams</a>
          <a href="modern-workplace.html" class="footer-link">Modern Workplace</a>
          <a href="success-stories.html" class="footer-link">Success Stories</a>
          <a href="blog.html" class="footer-link">Blog</a>
          <a href="unternehmen/karriere.html" class="footer-link">Karriere</a>
        </div>
        <div class="footer-links-row">
          <a href="m365-apps.html" class="footer-link">Office</a>
          <a href="#" class="footer-link">Outlook</a>
          <a href="unternehmen/karriere.html" class="footer-link">SharePoint</a>
          <a href="#" class="footer-link">Planner</a>
          <a href="#" class="footer-link">Teams</a>
          <a href="#" class="footer-link">OneDrive</a>
          <a href="unternehmen/teams-macht-schule.html" class="footer-link">Teams macht Schule</a>
        </div>
        <div id="w-node-fb836dff-5d61-e13c-158a-541fc0d72420-c0d723f8" class="footer-links-row">
          <a href="unternehmen/impressum-datenschutz.html" class="footer-link">Impressum</a>
          <a href="unternehmen/impressum-datenschutz.html" class="footer-link">Datenschutz</a>
          <a href="unternehmen/support.html" class="footer-link">Support</a>
          <a href="unternehmen/kontakt.html" class="footer-link">Kontakt</a>
        </div>
      </div>
    </div>
    <div class="footer-down">
      <div>© <span class="current-year">2022</span> - Website von <a href="https://formatzwei.de/" target="_blank" class="footer-link down"> Formatzwei®</a></div>
      <div class="footer-social-icons-container">
        <a href="https://www.linkedin.com/company/cloud4success-gmbh/" target="_blank" class="blog-social-item w-inline-block"><img src="{{siteUrl}}assets/images/Group-27.svg" loading="lazy" alt="" /></a>
      </div>
    </div>
  </div>
</div>
